*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: lightgray;
    padding: 10px;
}
.cal {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
/*투두리스트*/
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #7c90de;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    
}
ul li {
    list-style: none;
    font-size: 14px;
    text-align: left;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("/project/images/uncheck.png");
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 10px;
}
ul li.checked {
    color: #555;
    text-decoration:line-through;
}
ul li.checked::before {
    height: 18px;
    width: 18px;
    background-image: url("/project/images/check.png");
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 15px;
}
ul li span{
    position: absolute;
    right: 1px;
    top: 8px;
    width: 36px;
    height: 36px;
    font-size: 22px;
    color: #555;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0;  
}
/* 메뉴창 스타일 */
.sidebar {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #353434;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}
.sidebar .side-btn{
    position: absolute;
    top: 20px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar .side-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
    background: #111;
    transition: all 300ms ease-in-out;
}
.sidebar .side-btn span:nth-child(1){
    top: 10%;
}
.sidebar .side-btn span:nth-child(2){
    top: 50%;
}
.sidebar .side-btn span:nth-child(3){
    top: 90%;
}
.sidebar .links a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #f5f5f5;
    cursor: pointer;
    border-bottom: 1px solid #111;
}
.sidebar .links a.active,
.sidebar .links a:hover{
    background: #111;
    color: #7c90de;
}

.sidebar.active {
    left: 0px;
}
.sidebar.active .side-btn span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.sidebar.active .side-btn span:nth-child(2){
    opacity: 0;
}
.sidebar.active .side-btn span:nth-child(3){
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}